#profile{
    width:100vw;
    height:100vh;
    background:url('../images/probg.jpg') no-repeat;
    background-size: cover;
}
#profile div{
    background-color:#f0fff2;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#profile form{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap:2rem;
    border-radius: 2rem;
    padding:4rem 5rem;
    background:#f0fff2;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
#profile img{
    width:10rem;
    height:10rem;
    border-radius: 50%;
    object-fit: cover;
}
#file{
    display: none;
}
#profile input[type="submit"]{
    border:2px solid rgb(32, 85, 31);
    background:none;
    padding:.5rem 1rem;
    border-radius: .8rem;
    transition:all .7s ease-in-out;
    cursor:pointer
}
#profile input[type="submit"]:hover{
    background: rgb(32, 85, 31);
    color:white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#plus{

    background:#f0fff2;
    width:4rem;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:15rem;
    border:1px solid rgb(32, 85, 31); 
    border-radius:50%;
    transition:all .7s ease-in-out;
    cursor:pointer

}
#plus:hover,#skip a:hover{
    background:rgb(32, 85, 31);
    color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    

}
#skip{
    position: absolute;
    top:90vh;
    left:70vw;
}
#skip a{
    border:2px solid  rgb(32, 85, 31); 
    border-radius: 5px;
    padding:.3rem 2rem;
    font-size:1.2rem;
    color:rgb(32, 85, 31); 
    text-decoration: none;
    transition:all .7s ease-in-out;

}
#skip a i{
    margin-left:1rem;

}
